{{define "title"}}Create Server{{end}}

{{define "content"}}
<h4 class="mb-3">Create new server</h4>
<form action="/servers/create" method="POST">
    <div class="row g-3">
    <div class="col-12">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="My Server">
    </div>

    <div class="col-12">
        <label for="ip" class="form-label">Hostname / IP Address</label>
        <input type="text" class="form-control" id="ip" placeholder="196.87.47.9">
    </div>

    <div class="col-12">
        <label for="port" class="form-label">Port</label>
        <input type="text" class="form-control" id="port" placeholder="22">
    </div>

    <div class="col-12">
        <label for="user" class="form-label">User</label>
        <input type="text" class="form-control" id="user" placeholder="22">
    </div>

    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">Create Server</button>
</form>
{{end}}
