{{define "title"}}Server List{{end}}}

{{define "content"}}
<table class="table caption-top">
    <div class="d-flex justify-content-between">
        <h6>Servers</h6>
        <a href="{{route "server.create.get"}}" class="btn btn-success">Create Server</a>
    </div>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">User</th>
        <th scope="col">Hostname / Ip</th>
        <th scope="col">Port</th>
        <th scope="col">Connection Status</th>
        <th scope="col">_</th>
      </tr>
    </thead>
    <tbody>
      {{range .data}}
      <tr>
        <th>{{.Name}}</th>
        <td>{{.User}}</td>
        <td>{{.IP}}</td>
        <td>{{.Port}}</td>
        <td>
          <div class="d-flex gap-2">
            {{if eq .Status "inactive"}}
              <span class="badge rounded-pill bg-danger p-2">
                <span class="visually-hidden">New alerts</span>
              </span>
            {{else}}
              <span class="badge rounded-pill bg-success p-2">
                <span class="visually-hidden">New alerts</span>
              </span>
            {{end}}
            <span>{{.Status}}</span>
            <form action="/servers/status/check/{{.ID}}" method="POST">
              <button type="submit" class="btn btn-light btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                  <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                  <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                </svg>
              </button>
            </form>
          </div>
        </td>
        <td>
          
            <div class="d-flex gap-2">
              <a href="/servers/show/{{.ID}}" class="btn btn-primary btn-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                      <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                      <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>
              </a>
              
              <form action="/servers/delete/{{.ID}}" method="POST">
                <button class="btn btn-danger btn-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                </button>
              </form>
            </div>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
{{end}}