{{define "title"}}Server Public Key{{end}}

{{define "content"}}
<div class="row">
    <div class="col-12">
        <h4 class="mb-3">Public Key</h4>
        <form action="/servers/create" method="POST">
            <div class="row g-3">
                <div class="col-12">
                    <textarea disabled rows="10" class="form-control overflow-wrap: break-word">{{.data.SSHPublicKey}}</textarea>
                </div>
        </form>
    </div>
</div>
{{end}}