{{define "title"}}Home{{end}}

{{define "header"}}
    <h1>Home<h1>
    {{ Lang "My text" }}
{{end}}

{{define "content"}}
    {{if .Auth}}
    {{.User}}
    <p>Logged in.</p>
    {{end}}
    <p>Welcome home.</p>
{{end}}
