{{define "title"}}Show Run{{end}}

{{define "content"}}

<div class="card">
    <div class="card-header">
      Output
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer">
            <pre>{{.data.Output}}</pre>
        </footer>
      </blockquote>
    </div>
  </div>

{{end}}