{{define "title"}}Create Task{{end}}

{{define "content"}}
<h4 class="mb-3">Create new bucket</h4>
<form action="/buckets/create" method="POST">
    <div class="row g-3">

    <div class="col-12">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" value="{{Old "name"}}" class="form-control" id="name" placeholder="My Server">
    </div>
    
    <div class="col-12">
        <label for="name" class="form-label">Select tasks</label>
        <select class="form-select" multiple name="tasks" aria-label="Default select example">
            {{range .data}}
                <option value="{{.ID}}">{{.Name}}</option>
            {{end}}
        </select>
    </div>

    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">Create Bucket</button>
</form>
{{end}}