{{define "title"}}Bucket Detail{{end}}

{{define "content"}}
<div class="row mb-3">
    <div class="col-8">
        <h4 class="">Bucket detail</h4>
    </div>
    <div class="col-4">
        <form action="/buckets/runs/{{.data.Bucket.ID}}" method="POST">
            <button class="w-100 btn btn-success btn-md" type="submit">Run Bucket</button>
        </form>
    </div>
</div>
<form action="/buckets/update/{{.data.Bucket.ID}}" method="POST">
    <div class="row g-3">

    <div class="col-12">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" value="{{.data.Bucket.Name}}" class="form-control" id="name" placeholder="My Server">
    </div>
    
    <div class="col-12">
        <label for="name" class="form-label">Select tasks</label>
        <select class="form-select" multiple name="tasks" aria-label="Default select example">
            {{range .data.Tasks}}
                {{if .Added}}
                    <option selected value="{{.Task.ID}}">{{.Task.Name}}</option>
                {{else}}
                    <option  value="{{.Task.ID}}">{{.Task.Name}}</option>
                {{end}}
            {{end}}
        </select>
    </div>

    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">Update Bucket</button>
</form>

<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Recent runs</h6>

    {{range .data.Bucket.Runs}}
        <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">{{date "2006-01-02 03:04:05PM" .Run.CreatedAt}}</strong>
                    <a href="/tasks/runs/show/{{.Run.ID}}">View</a>
                </div>
                <span class="d-block">{{abbrev 70 .Run.Output}}"</span>
            </div>
        </div>
    {{end}}

</div>
{{end}}